/*<![CDATA[*/
/*Smart Restaurant menu header*/

#header-logo {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 40px;
	width: 70px;
	background: url(../images/administrator/logo_menu.png) top left no-repeat !important;
	background: none;
	text-indent: -999em;
	text-decoration: none;
	cursor: hand;

}

#Header {
	background-color:#036;
	border-bottom:5px solid #fc0;
	padding-left:40px;
	height:37px;
	width:100%;
	margin: 0 auto;
}

ul#topnav {
	margin: 0; padding: 0;
	float: left;
	width: 970px;
	list-style: none;
	position: relative;
	font: 1,2em normal Verdana, Arial, Helvetica, sans-serif;
	/*background: url(../images/administrator/topnav_stretch.gif) repeat-x;*/
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #555;
}
ul#topnav li a {
	padding: 10px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}

ul#topnav li a:hover {
	background-color: #1376c9;
}
ul#topnav li:hover { background: #1376c9 url(../images/administrator/topnav_active.gif) repeat-x; }
ul#topnav li span {
	float: left;
	padding: 15px 0;
	position: absolute;
	left: 0; top:35px;
	display: none;
	width: 970px;
	background: #1376c9;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}