/* PAGE BODY
-------------------------------------------------*/
html,body {
	padding: 0;
	margin: 0;
}

body {
	background: #e5e5e5;
}

body,.dialog {
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}

table.manage {
	font-size: 12px;
}

td.account {
	font-size: 14px;
}
img { border: none }

table th { text-align: left; padding: 0 1em .1em 0; font-size: 12px }
table thead { background: #f7f7f0 }
table thead th {
 border: 1px solid #d7d7d7;
 border-bottom-color: #999;
 font-size: 11px;
 font-weight: bold;
 padding: 2px .5em;
 vertical-align: bottom;
}
table thead th :link:hover, table thead th :visited:hover {
 background-color: transparent;
}

table.zebra tr { border-top: 1px solid #ddd }
table.zebra tr.even td, table.zebra tr.even { background-color: #fcfcfc; }
table.zebra tr.odd td { background-color: #f7f7f7; }
table.zebra tbody tr.odd:hover, tr.even:hover { background: #eed !important; }

/* GLOBALS & GENERAL CASES
-------------------------------------------------*/
.print_only {
	display: none;
}

a:hover {
	background-color: #c0c0c0;
	text-decoration: none;
}

a.image:link,a.image:visited,a.image:hover {
	border: none;
	background: none;
	padding: 0;
}

a.toggle.active:link,a.toggle.active:visited,a.toggle.active:hover {
	background: #999 !important;
	color: #03c !important;
	text-decoration: none;
	font-weight: 400 !important;
}

p {
	font: 11px Arial, Helvetica, sans-serif;
	margin: 0 0 15px;
}

hr {
	background-color: #000;
	height: 1px;
	border: 0;
	margin: 10px 0;
}

a img {
	border: 0;
}

a.image img {
	border: none;
	margin: 0;
	padding: 0;
}

table tr.shaded td {
	background-color: #edf3fe;
}

a.anchor:link,a.anchor:visited,a.anchor:hover {
	color: #fff;
	background: #fff;
	font-size: 0;
	text-decoration: none;
	padding: 0;
}

div.notice {
	background: #080;
}

div.alert {
	background: red;
}

h1 {
	font: bold 32px Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	color: #000;
	position: relative;
	margin: 5px 0 15px;
	padding: 0 0 5px;
}

/* TYPOGRAPHY
-------------------------------------------------*/
h1.admin {
	margin-bottom: 2px;
}

body, th, td {
 font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}
h1, h2, h3, h4 {
 font-family: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif;
 font-weight: bold;
 letter-spacing: -0.018em;
}
h1 { font-size: 19px; margin: .15em 1em 0 0 }
h2 { font-size: 16px }
h3 { font-size: 14px }
hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }


form {
	margin: 0;
	padding: 0;
}

.red {
	color: #c00;
}

.blue {
	color: #06c;
}

.green {
	color: #390;
}

.highlight {
	background-color: #ffc;
}

ins {
	background-color: #cfc;
	text-decoration: none;
}

del {
	color: #999;
}

code,pre {
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier,
		monospace;
	background: inherit;
	color: #333;
	font-size: 80%;
}

table {
	border-collapse: collapse;
}

input, textarea, select { margin: 2px }
input, select { vertical-align: middle }
input[type=button], input[type=file],input[type=option], input[type=submit], input[type=reset] {
 background: #eee;
 color: #222;
 border: 1px outset #ccc;
 padding: .1em .5em;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
 background: #ccb;
}
input[type=button][disabled], input[type=submit][disabled],
input[type=reset][disabled] {
 background: #f6f6f6;
 border-style: solid;
 color: #999;
}
input[type=text], input.textwidget, textarea { border: 1px solid #d7d7d7 }
input[type=text], input.textwidget { padding: .25em .5em }
input[type=text]:focus, input.textwidget:focus, textarea:focus {
 border: 1px solid #886;
}
option { border-bottom: 1px dotted #d7d7d7 }
fieldset { border: 1px solid #d7d7d7; padding: .5em; margin: 0 }
fieldset.iefix { background: transparent; border: none; padding: 0; margin: 0 }
* html fieldset.iefix { width: 98% }
fieldset.iefix p { margin: 0 }
legend { color: #999; padding: 0 .25em; font-size: 90%; font-weight: bold }
label.disabled { color: #d7d7d7 }
.buttons { margin: .5em .5em .5em 0 }
.buttons form, .buttons form div { display: inline }
.buttons input { margin: 1em .5em .1em 0 }
.inlinebuttons input { 
 font-size: 70%;
 border-width: 1px;
 border-style: dotted;
 margin: 0;
 padding: 0.1em;
 background: none;
}

/*
Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */
* html code {
	font-size: 105%;
}

/* STRUCTURE
-------------------------------------------------*/
div#Container {
	margin: 13px auto 0;
	padding: 0 23px 0 30px;
}

.ClearAll {
	clear: both;
	font-size: 1px;
	margin: 0;
	padding: 0;
}

.Left {
	text-align: left;
	width: 49%;
	float: left;
	margin: 0;
	padding-right: 10px;
	border-right: thin dotted #ccb; 	
}

.Right {
	text-align: left;
	float: left;
	width: 49%;
	margin: 0;
	padding-left: 10px;
}

/* FOR PROPORTIONAL WIDTH 
--------------------------*/
.col {
	text-align: center;
	padding: 0 20px;
	height:auto; /* IE6: treaded as min-height*/
	min-height:1000px;
}

.contentLeft {
	background: transparent url(../img/bgLeft.png) top left no-repeat;
	margin-left: -10px;
	padding-left: 10px;
	min-height: 400px;
}

.contentRight {
	background: transparent url(../img/bgRight.png) top right no-repeat;
	padding-right: 10px;
	min-height: 400px;
}

.Left .col,.Full .col {
	background: #fff;
	padding: 10px 30px 20px 20px;
}

.Left .col .showhide {
	margin-top: 8px;
}

.Full .bottom,.Left .bottom {
	/*	background:url(../../img/bottom-bg.gif) top right no-repeat; */
	
}

body.lobby .Full .bottom {
	margin-bottom: 0;
}

.Right .col {
	padding: 0 0 0 9px;
}

/*
 * left rigth - define text align for tables here
 * */
.align_right {
	text-align: right;
}

.align_center {
	text-align: center;
}

.validation_alert {
	font-weight: 700;
	color: #FFF;
	background-color: red;
	padding: 10px;
}

#left,.Full,.align_left {
	text-align: left;
}

a:link,a:visited { /*color:#03c;*/
	text-decoration: none;
}

.title,.mytitle {
	text-align: center;
	cursor: pointer;
	border: 1px solid #CCC;
	margin-top: 0.5em;
	padding: 0.1em;
	width : 500px;
}

.on1 .title,.on .mytitle {
	background-color: #E4EFC7;
}

.off1 .title,.off .mytitle {
	background-color: #E0E0E0;
}

.content,.mycontent {
	background-color: #FFF;
	border: 1px solid silver;
	border-top-width: 0;
	padding: 0.1em;
}

pre.run a{
	display:block;
	text-indent:-9999em;
	background:url(../img/jq_run.gif) no-repeat; 
	position:absolute;
	top:-17px;
	right:0;
	width:58px;
	height:17px;
	font-size:0;
}

.ingredients {
	display: none;
	margin-bottom: 5px;
}

/*
 * Accordion 
 **/

.ui-accordion { margin: 0; padding: 0; list-style-type: none; }
.ui-accordion li { margin: 0; margin-bottom: 2px; padding: 0; }
.ui-accordion li .ui-accordion-header {
	display: block;
	padding-left: 5px;
	margin-right: 3px;
	height: 28px;
	color: #000;
	text-decoration: none;
	line-height: 28px;
	position: relative;
	left: 3px;
}
.ui-accordion li .ui-accordion-right {
	display: block;
	position: absolute;
	top: 0px;
	right: -3px;
	height: 28px;
	width: 3px;
}
.ui-accordion li .ui-accordion-left {
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	height: 28px;
	width: 3px;
}

.ui-accordion li:hover .ui-accordion-left {  }
.ui-accordion li:hover .ui-accordion-header {  }
.ui-accordion li:hover .ui-accordion-right {  }

.ui-accordion li.selected .ui-accordion-left {  }
.ui-accordion li.selected .ui-accordion-header {  }
.ui-accordion li.selected .ui-accordion-right {  }
